/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /* border: 1px dotted black;         */  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
    /* background-color: rgba(0,0,0,5%); */  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #000000;    /* achtergrondkleur lichtgrijs */
  color: #ffffff;               /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
  overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

/* Indeling voor alle pagina's */

.page {
  width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

/* Indeling voor hoofd pagina */

.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           /* afstand tussen plaatje en rechterkolom */
}
.kolomRechts {
  float:left;
  width: 250px;
  padding-right:15px;
}
.kolomStop {
  clear:both;                   /* stop met floaten */
}

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: #ffffff;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #ff4013;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #0053aa;
}

nav li a.active {
    background-color: #3a88fe;
}





.KolomRechts {
  width:250px;
  height:113px;
  float:left;
  margin-bottom:10px;
  
}
.KolomLinks {
  width:300px;
  height:113px;
  float:left;
}

.inleiding {
  float:right;
  width:400px;
  margin-top:-230px;
  margin-right:30px;
  font-size:18px;
}

.bmwm2-model {
  float:left;
  width:250px;
}

.page-gs {
  width:900px;
  margin:10px auto; 
}

.gs-clubsport {
  float:right;
  width:480px;
  margin-right:10px;
}

.newm2cs {
  float:left;
  width:400px;
  height:266px;
  margin-top:-490px;
}

.gs-clubsport2 {
  float:right;
  margin-right:10px;
}

.bmw-e30 {
  width:250px;
  margin-top:20px;
}

.bmw-modellen {
  float:left;
  width:190px;
  height:127px;
  margin-top:10px;
}

.bmw-1997 {
  float:left;
  width:190px;
  height:127px;
  margin-right:350px;
  margin-top:5px;
}

.tekst-plaatje-e30 {
  float:right;
  margin-right:40px;
  margin-top:55px;
  font-size:16px;
}

.tekst-plaatje-1997 {
  float:right;
  margin-top:-65px;
  margin-right:65px;
  font-size:16px;
}

.bmw-2002 {
  float:left;
  width:190px;
  height:127px;
  margin-right:350px;
  margin-top:5px;
}

.tekst-plaatje-2002 {
  float:right;
  margin-top:-65px;
  margin-right:55px;
}

.bmw-2006 {
  float:left;
  width:190px;
  height:127px;
  margin-top:5px;
}

.tekst-plaatje-2006 {
  float:right;
  margin-top:50px;
  margin-right:5px;
}

.bmw-2010 {
  float:left;
  width:190px;
  height:127px;
  margin-top:140px;
  margin-left:-200px;
}

.tekst-plaatje-2010 {
  margin-top:580px;
  margin-left:225px;
}

.bmw-2013-17 {
  float:left;
  width:190px;
  height:106px;
  margin-top:50px;
}

.tekst-plaatje-2013-17 {
  float:right;
  margin-top:90px;
  margin-right:60px;
}

.bmw-m2cs {
  float:left;
  width:190px;
  height:127px;
  margin-top:165px;
  margin-left:-190px;
}

.tekst-plaatje-m2cs {
  float:right;
  margin-top:95px;
  margin-right:55px;
}

.bmw-1serie {
  float:left;
  width:200px;
  margin-top:-540px;
}

.bmw-240i {
  float:left;
  width:200px;
  margin-top:-397px;
}

.bmw-ervaring-m2cs {
  float:right;
  width:200px;
  margin-top:-300px;
}

.alfa-romeo {
  float:right;
  width:200px;
  margin-top:-150px;
}

.ervaring-tekst {
  width:420px;
  float:right;
  font-size:20px;
  margin-top:65px;
}

.ervaring-tekst-2 {
  float:left;
  margin-top:80px;
  font-size:20px;
  width:450px;
}